body {
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Arial", sans-serif; 
}

.hero img {
  filter: drop-shadow(0 0 80px rgba(128, 128, 128, 0.402));
  animation: fadeIn 1s ease-in-out; 
}

.movie {
  max-width: 250px;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s; 
  border-radius: 15px; 
  overflow: hidden; 
  background-color: rgba(255, 255, 255, 0.1); 
}

.movie:hover {
  transform: scale(1.1); 
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.banner {
  position: relative;
  height: 20vh; 
  overflow: hidden; 
}

.banner-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.531);
  display: grid;
  place-items: center;
  font-size: 40px;
  font-weight: bold;
  animation: slideIn 1s ease forwards; 
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.company {
  color: black;
  width: 101px;
  text-align: center;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.company::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: -1;
}

.company:hover::before {
  opacity: 1;
}

.actor-card {
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.actor-card:hover {
  transform: scale(1.05);
}

.actor-card img {
  width: 133.2px;

  border-radius: 10px;
  transition: transform 0.3s ease;
}

.actor-card img:hover {
  transform: scale(1.1);
}

.actor-card p {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  place-items: center;
  background: rgba(0, 0, 0, 0.7);
  color: #ffd700;
  transition: all 0.5s;
  padding: 10px;
}

.actor-card:hover > p {
  display: grid;
  opacity: 1;
}
.actor-card p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  transition: opacity 0.3s;
  opacity: 0;
}

.actor-card:hover p::before {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.4rem;
  color: #ffd700;
}

.spinner-border::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 40px rgba(255, 215, 0, 1);
  }
}


.movie-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Taşan içerikleri gizler */
}

.trailer {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8); /* Hafif siyah arka plan */
  z-index: 10; /* Diğer içeriklerden önde olması için */
}

.movie-wrapper:hover .trailer {
  display: block;
}

.movie {
  width: 200%;
  height: auto;
  transition: transform 0.3s ease;
}

.movie-wrapper:hover .movie {
  transform: scale(2.1); /* Hover sırasında görüntü büyüme efekti */
}


.rating {
   margin-top: 18px;
  bottom: 10px;
  transform: translateY(-20%); /* Tam ortalama için sola kaydırın. */
  color: #fff;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex; /* Flexbox kullanımı */
  justify-content: center; /* İçerikleri yatay ortala */
  align-items: center; /* İçerikleri dikey olarak ortala */
}